body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}



#container {
  width: 950px;
  height: 950px;
  display: flex;
  flex-wrap: wrap;
}



.square{
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid black; 
  margin: 2px;
  
}

#reset, #newGridButton {
  width: 100px;
  height: 50px;
  font-size: 16px;
  /* Other shared styles */
}

